<div class="container">
    <p id="guidText">00000000-0000-0000-0000-000000000000</p>
</div>
<!-- https://caniuse.com/#feat=user-select-none -->
<!-- https://stackoverflow.com/questions/25455567/how-can-i-select-a-paragraph-with-javascript-on-click/25456308#25456308 -->
<!-- A friend of mine said he would use a website that generated and highlighted a GUID whenever the page was refreshed, so I made this. -->
<!-- www.materialpalette.com is helpful. -->
<!-- https://www.favicon-generator.org/ is another great site -->