<!DOCTYPE html>
<html>
<head>
    <title>GUID Red, the simple GUID generator</title>
    <meta charset="UTF-8">
    <meta name="description" content="A really-easy, dependable, GUID generator. Copies and regenerates on page click.">
    <meta name="keywords" content="guid, guid generator, uuid, unique key">
    <meta name="author" content="Joshua Miller">
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="stupidContainerForCapturingPageClicks">
    <header class="notselectable">
        <button id="helpButton" class="helpButton">About/Help</button>
        <h1>
            GUID<span class="accentText">.RED</span>
        </h1>
        <h2>
            The <b>R</b>eally-<b>E</b>asy, <b>D</b>ependable, GUID generator.
        </h2>
    </header>
    @RenderBody()
    <!-- The Modal -->
    <div id="helpModal" class="modal notselectable">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="modalClose" class="close">&times;</span>
            <div>
                <h3>Click</h3>
                <p class="subtitle">to copy the current GUID to your clipboard. After copying, a new GUID is generated.</p>
            </div>
            <div>
                <h3>Refresh</h3>
                <p class="subtitle">the page to generate and highlight a new GUID. Refreshing the page causes the GUID to <b>only</b> be regenerated and highlighted. The GUID is <a href="https://stackoverflow.com/a/31926061/1542187" target="_blank"><b>not</b></a> copied. In other words, if the GUID is highlighted, it has <b>not</b> been copied.</p>
            </div>
            <div>
                <h3>.Net Core</h3>
                <p class="subtitle">is what this page uses to generate GUIDs. Specifically, it uses <a class="subtitle" href="http://msdn.microsoft.com/en-us/library/system.guid.newguid" target="_blank">.NET Core's GUID generator</a></p>
            </div>
        </div>
    </div>
    <footer class="notselectable">
        <p class="subtitle">GUID last copied at: <span id="lastCopiedAtItem">Something bad probably happened if this is present, unless you're looking at the raw HTML, then you are just curious. Probably... Hopefully... Hopefully you're not looking at this for nefarious purposes...</span></p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
