html {
    text-align: center;
    font-family: Garamond;
    max-width: 100%;
    overflow-x: hidden;
}

.stupidContainerForCapturingPageClicks {
    background-color: #455A64;
}

h1, h2 {
    color: #CFD8DC;
}

h1 {
    font-size: 55px;
    margin-bottom: 0;
    font-weight: bolder;
}

.accentText {
    color: #FF5252;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
}

p {
    color: #FFFFFF;
    font-size: 30px;
}

a {
    color: #CFD8DC;
}

.helpButton {
    color: #CFD8DC;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.subtitle {
    margin-top: -18px;
    color: #CFD8DC;
    font-size: 16px;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.notselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Model stuff*/
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #455A64;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
