html {
    text-align: center;
    font-family: Garamond !important;
    max-width: 100%;
    overflow-x: hidden;
}

.stupidContainerForCapturingPageClicks {
    background-color: #455A64;
}

h1, h2 {
    color: #CFD8DC;
}

h1 {
    font-size: 55px;
    margin-bottom: 0;
    font-weight: bolder;
}

.accentText {
    color: #FF5252;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
}

p {
    color: #FFFFFF;
    font-size: 30px;
}

a {
    color: #CFD8DC;
}

p.subtitle {
    margin-top: -18px;
    color: #CFD8DC;
    font-size: 16px;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.notselectable, .hidden {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    color: #455A64;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#always-on-top {
    position: absolute;
    z-index: 999;
}
